<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	
    <title>Join a Meetup</title>

</head>

<body>

    <div id="wrap">
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="menu">Home</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav">
                        <li><a id="btn-myprofile">My Profile</a>
                        </li>
                        <li><a id="btn-about">About</a>
                        </li>
                        <li><a id="btn-help">Help/FAQ</a>
                        </li>
                        <li><a id="btn-logout">Logout</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </div>

        <div id="content-minor" class="container">
        	<div class="row">
            	<div class="col-xs-12 col-md-12">
                    <br>
                <h3 class="page-header">Join a Meetup</h3>
            	</div>
       	 	</div>
            <div class="row">
                <div class="col-xs-12 col-md-12" id="msg">
                </div>
            </div>
            <div class="row">

            {{#each meetup}}
                <div class="col-lg-3 col-md-4 col-xs-6">
                    <div class="thumbnail">
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <img class="img-responsive" src="{{image}}">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <div class="caption">
                                    <h6>{{title}}</h6>
                                    <h6 style="color:gray;">{{location}}, {{date}}</h6>
                                    <h6 style="color:gray;">{{host}}: {{phone}}</h6>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12 col-md-12">
                                <button type="button" class="btn btn-primary col-xs-12 col-md-3 btn-joinmeetupconfirm" id="{{id}}">Join</button>
                            </div>
                        </div>
                    </div>
                </div>
            {{/each}}

        </div>
       	 </div>

       	
        
		
<!-- 		<div class="row text-center">

            <div class="col-lg-12">
                <ul class="pagination pagination-sm">
                    <li><a href="#">&laquo;</a>
                    </li>
                    <li class="active"><a href="#">1</a>
                    </li>
                    <li><a href="#">2</a>
                    </li>
                    <li><a href="#">3</a>
                    </li>
                    <li><a href="#">&raquo;</a>
                    </li>
                </ul>
            </div>

        </div> -->
  
        <div id="push"></div>
   	</div>

    <div id="footer">
          <div class="container">
            <h1 align="center">Meetups</h1>
          </div>
    </div>

    <!-- Javascripts -->
    <script type="text/javascript" src="js/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>  
    <script type="text/javascript" src="js/scripts.js"></script>

</body>
</html>
